package main

templ Header(){
    <head>
        <script src="./resources/htmx.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diff Display Proto 0.0.1</title>
    </head>
}
templ Line() {
    <h2>Header 2</h2>
}
templ hello(name string) {
    @Header()
    @Line()
	<h1>Hello, { name }</h1>
	<button hx-post="/clicked"
        hx-trigger="click"
        hx-target="#parent-div"
        hx-swap="outerHTML">
        Click Me!
    </button>
}